* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Added for better box model handling */
  font-family: "Montserrat", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 130px 1fr 300px; 
  grid-template-columns: 1fr;
}


