* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica Neue, Arial;
}

.welcome-content {
  color: white;
  justify-content: center;
  font-size: 50px;
  font-weight: 200;
  margin: 1000px 0px 0px 500px;
}

.welcome-content2 {
  color: darkgray;
  font-size: 55px;
  font-weight: 400;
  margin-left: 200px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.opening1,
.opening2 {
  color: white;
  font-size: 25px;
  margin: 50px 40px 0px 40px;
  font-weight: 200;
}

.cover-image-text {
  position: relative;
  color: white;
  font-size: 35px;
  right: 220px;
}

.middle-content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  cursor: pointer;
}

.cover-image-container {
  position: relative;
  width: 350px;
  height: 568px;
  margin: 0 10px; /* Adjust spacing between images */
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-filter: brightness(100%);
  transition: transform 0.5s ease;
}

.cover-image:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1.1);
}

.cover-image-text1 {
  position: absolute;
  color: white;
  font-size: 35px;
  text-align: center; /* Ensure text is centered */
  text-decoration: none;
  top: 450px;
  left: 100px;
}

.cover-image-text1:hover {
  color: darkgray;
}

.cover-image-text2:hover {
  color: darkgray;
}

.cover-image-text3:hover {
  color: darkgray;
}

.cover-image-text2 {
  position: absolute;
  color: white;
  font-size: 35px;
  text-align: center; /* Ensure text is centered */
  text-decoration: none;
  top: 450px;
  left: 120px;
}

.cover-image-text3 {
  position: absolute;
  color: white;
  font-size: 35px;
  text-align: center; /* Ensure text is centered */
  text-decoration: none;
  top: 450px;
  left: 150px;
}

.carousels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: 200;
  background-color: rgb(74, 74, 74);
  z-index: -5;
}

.carousel-container {
  width: calc(50% - 20px);
}

.latest-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  background-color: rgb(74, 74, 74);
  margin: 100px 0px 0px 0px;
}

.latest-arrivals {
  font-size: 40px;
  font-weight: 200;
  margin: 20px 0px 20px 0px;
}

.latest-hr{
  width: 10%;
  margin: 0 auto;
}

.slide {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 400;
  min-height: 300px;
  margin: 100px 100px 0px 75px;
  color: black;
  background: rgb(169, 169, 169, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.car-img {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.car-container {
  display: flex;
  gap: 20px;
}

.speed,
.zero-sixty,
.price,
.year,
.colour {
  display: flex;
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.sub-speed,
.sub-zero-sixty,
.sub-price,
.sub-year,
.sub-colour {
  color: black;
  font-size: 25px;
  margin-top: 5px;
  font-weight: 200;
}

.spec-1 {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
