* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Helvetica Neue, Arial;
}

.open-filters-btn {
  position: fixed;
  left: 50px; /* Adjust position for visibility */
  top: 150px; /* Adjust position for visibility */
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  color: black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1000; /* Make sure it's above other elements */
}
.sidebar {
  display: block;
  position: fixed;
  left: -780px;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 400px;
  padding-left: 30px;
  background: #fff;
  z-index: 9999;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar.open {
  left: 0;
  margin-top: 130px;
}

.sidebar.closed {
  left: -400px;
}

.close-sidebar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: darkgray; /* Red background color */
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1001; /* Ensure it's above other elements */
}

.footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.filter-button {
  color: black;
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0px 10px 20px;
  border: 1px black solid;
  width: fit-content;
  padding: 20px 40px;
  background-color: white;
}

.filter-button:hover {
  color: red;
}

.filter-h2 {
  color: black;
  font-size: 15px;
  margin: 20px 0px 30px 20px;
}

.car-options {
  display: grid;
  grid-template-columns: repeat(2, 150px); /* Creates two columns */
  grid-gap: 10px; /* Optional: adds gap between rows and columns */
  margin-left: 20px;
  color: darkgray;
  font-size: 15px;
  row-gap: 20px;
  justify-items: start;
}

.search-bodystyle {
  display: grid;
  color: black;
  font-size: 15px;
  margin: 20px 0px 30px 20px;
}

.latest {
  color: black;
  font-size: 15px;
  margin: 30px 0px 20px 20px;
}

.car-option {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 10px;
  margin-left: 20px;
  color: darkgray;
  font-size: 15px;
  justify-items: start;
}

.sell {
  color: black;
  font-size: 15px;
  margin: 0px 0px 20px 60px;
  border: 1px black solid;
  width: fit-content;
  padding: 20px 40px;
  font-weight: 200;
}

.car-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  font-size: 20px;
  font-weight: 400;
  gap: 10px;
  min-height: 300px;
  margin: 5px 100px 0px 23px;
  color: black;
  background: rgb(169, 169, 169, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.car-container {
  display: flex;
  gap: 20px;
}

.car-img2 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.speed2,
.zero-sixty2,
.price2,
.year2,
.colour2 {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 200;
  margin-top: 20px;
}

.sub-speed2,
.sub-zero-sixty2,
.sub-price2,
.sub-year2,
.sub-colour2 {
  color: black;
  font-size: 20px;
  font-weight: 200;
  margin-top: 20px;
}

.spec-2 {
  display: flex;
  gap: 10px;
}

.car1 {
  color: gray;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 17px;
}

.car1:hover,
.car2:hover {
  color: red;
}

.car2 {
  color: gray;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 17px;
}

.fetch-data ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust column size for larger cards */
  gap: 20px;
  padding: 20px;
  justify-content: end; /* Keeps items aligned to the right */
  max-width: 1400px; /* Increased width */
  margin-left: 500px;
  margin-right: 50px; /* Adjust right margin for right-side alignment */
  list-style: none;
}

.car-card-container {
  display: flex;
  justify-content: center;
}

.car-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px; /* Increased width */
  height: 790px; /* Increased height */
  border: 1px solid #ccc;
  padding: 15px;
  background-color: white;
  overflow: hidden;
  margin: 10px;
}

.car-card-img {
  width: 100%;
  height: 300px; /* Increased height */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.car-card-details {
  display: flex;
  flex-direction: row; /* Changed to row */
  align-items: center; /* Align items vertically */
  gap: 10px; /* Space between items */
  line-height: 2;
}

.car-card-name {
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.car-card-price,
.car-card-year,
.car-card-mileage,
.car-card-colour,
.car-card-mileage,
.car-card-body {
  font-size: 22px;
  text-align: start; /* Center text */
  font-weight: 200;
}

.car-card-price1,
.car-card-year1,
.car-card-mileage1,
.car-card-colour1,
.car-card-mileage1,
.car-card-body1 {
  font-size: 27px;
  font-weight: 400;
}

.button-container {
  display: flex;
}

.car-card-button{
  display: flex;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0px 0px 150px;
}