* {
  font-family: Roboto, Helvetica Neue, Arial;
}


.values-trio {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 620px;
  
}

.values-h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 33px;
  font-weight: 200;
  margin: 50px 0px 25px 0px ;
}

.values-hr {
  width: 10%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.value-box1,
.value-box2,
.value-box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 400px;
  border-radius: 5px;
  margin-bottom: 20px;
  gap: 10px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(252, 251, 251, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.value-box-h1,
.value-box-h2,
.value-box-h3 {
  color: black;
  font-size: 30px;
  font-weight: 300;
}

.value-box-p1, .value-box-p2, .value-box-p3{
    padding: 0px 20px 0px 20px;
    font-weight: 200;
    font-size: 22px;
}

.value-box-img1, .value-box-img2, .value-box-img3 {
    border-radius: 10px;
    margin: 10px 0px 20px 0px;
    
}

.art{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    color: white;
}

.art-h2{
    font-size: 33px;
    font-weight: 300;
    margin: 40px 0px 30px 0px;
}

.art-hr{
    width: 10%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.art-p{
    font-size: 22px;
    font-weight: 200;
    margin: 0px 200px 30px 200px;
    text-align: center;
    line-height: 1.6;
}

.end-of-art{
    position: relative;
}

.track{
    width: 100%;
    height: auto;
    z-index: 1; /* Adjusted z-index */
    filter: brightness(50%);
}

.art-h3{
    color: white;
    position: absolute;
    z-index: 2; /* Higher z-index to ensure it's above the track image */
    font-size: 30px;
    font-weight: bold;
    max-width: 300px;
    top: 60px; /* Adjust top and left as needed */
    left: 400px;
}