* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica Neue, Arial;
  box-sizing: border-box;
}

.sell-form-evaluation-container {
  position: relative;
  /* Ensure it has the height you desire, or it will be as tall as its content */
}

.bugatti2 {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes any extra space below the image */
  filter: brightness(20%);
}

.evaluation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Center the content */
  transform: translate(-50%, -50%); /* Adjust for exact center alignment */
}

.header-eval-container {
  display: flex;
  flex-direction: column;
}

.eval-form-container {
  background-color: white;
  padding: 20px;
  color: black;
  width: 1000px;
  margin: auto;
  text-align: center;
}

.eval-h2 {
  color: black;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 20px;
}

.eval-hr2 {
  color: black;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.eval-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  background-color: white;
  margin: 0px 70px ;
}

.eval-label {
    font-size: 13px;
  text-align: left;
  margin-bottom: 10px;
}

.eval-input,
.text-area {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
}

.text-area {
  resize: vertical;
  min-height: 100px;
}

.send-button{
  padding: 20px;
    cursor: pointer;
}