*{
    margin: 0px;
    padding: 0px;
}


.open-filters-btn {
  position: fixed;
  left: 10px; /* Adjust position for visibility */
  top: 50px; /* Adjust position for visibility */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 1000; /* Make sure it's above other elements */
}

  .sidebar {
    position: fixed;
    left: -300px; 
    top: 0;
    width: 300px; 
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s;
    z-index: 999;
  }
  
  .sidebar.open {
    left: 0;
    margin-top: 130px;
  }
  
  .sidebar.closed {
    left: -300px;
  }
  
  .close-sidebar-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6347; /* Red background color */
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's above other elements */
  }
  
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }